@charset "UTF-8";

body {
    width: 95%;
    max-width: 980px;
    margin: auto;
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

a#navicon {
    display: none;
}

article#home {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px;
}

article#goals, article#goals h2 {
    padding: 20px 0;
}

div#goals_content1, div#goals_content2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100px;
    justify-content: center;
    align-self: center;
    padding: 20px 20px;
}

article#home div, article#home p:nth-of-type(1) {
    flex-grow: 1;
    flex-basis: 100px;
    flex-shrink: 1;
}

article#home p {
    flex-grow: 2;
    flex-basis: 200px;
    flex-shrink: 1;
}

#home p, #home div {
    padding: 10px;
}

article#skills {
    padding: 25px 0;
}

div#skills_container1, div#skills_container2{
    display: flex;
    justify-content: space-around;
}

div#skills_container1 div, div#skills_container2 div{
    flex-grow: 1;
    flex-basis: 50px;
    height: 250px;
    justify-content: space-around;
    padding: 5px;
    margin: 20px 20px;
}

article#aresume, div#resume {
    padding: 30px 20px;
}

#skills h2 {
    flex-basis: 100%;
}

#contact {
    padding: 30px 0px;
}

footer {
    justify-content: center;
    height: 50px;
}

 /* Source: https://medium.com/@egwuchinedu69/ ... */

 .container {
    width: 80%;
    margin: auto;
  }

  .container h2 {
    color: #1b2750;
    text-align: center;
  }

  input, select, textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }

  textarea {
    height: 150px;
    resize: none;
  }

  button {
    padding: 12px 20px;
  }

  .container {
    padding: 20px;
  }

  

/* ===========================================
	Mobile Styles: 0px to 480 pixels
   ===========================================
*/

@media only screen and (max-width: 480px) {

    a#navicon {
        display: block;
    }

    nav ul {
        display: none;
    }

    a#navicon:hover+ul, nav ul:hover {
        display: block;
    }

    div#skills_container1, div#skills_container2{
        display: flex;
        justify-content: space-around;
        flex-flow: column wrap;
    }

    article#home {
        display: flex;
        justify-content: space-around;
        background-color: #4a5ab2;
        flex-flow: column wrap;
    }

    header {
        padding: 5px;
    }

}

/* ============================================
	Tablet and Desktop: 481px or more 
   ============================================
*/

@media only screen and (min-width: 481px) {

    #resume, #contact {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 100%;
        margin: auto;

    }
    
    #implinks {
        margin-left: 15%;
    }
    
    #nameresume {
        grid-column: 1 / 3;
        margin-left: 5%;
    }
    
    #contactinf {
        text-align: right;
        margin-right: 5%;
    }
    
    .restitle {
        grid-column: 1 / 3;
        margin-left: 5%;
    }
    
    .inline {
        grid-column: 1 / 3;
        margin-left: 5%;
    }
    
    .dates {
        margin-left: 15%;
    }
    
    .exp {
        margin-right: 5%;
    }
    
    #previous { 
        grid-column: 1 / 3;
        margin-left: 5%;
    }

    header {
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 20px;
    }
    
}


/* ============================================
	Only Desktop Devices: 769px or more 
   ============================================
*/

@media only screen and (min-width: 769px) {



}
