@charset "UTF-8";

/*
    reset stylesheet
*/

article, aside, figure, figcaption, footer,
header, main, nav, section {
    display: block;
}

/* CSS Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}